<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
    <link rel="stylesheet" href="public/assets/styles.css" type="text/css">
</head>
<body>
    <%- include('Navbar.ejs') %>
    
<section class="home">
    <div id="header-desc">
        <h1 class="try_heading" >Operation successfull</h1>
          <div class="notfound">     
                <a href="/result" >Show Result</a>
        </div>
    </div>
</section>
    <%- include('footer.ejs') %>
    
</body>
</html>